asgiref==3.8.1
Django==5.1.6
sqlparse==0.5.3

psycopg2-binary==2.9.10
lxml==5.3.0
django-compressor==4.5.1

django-constance==4.3.1
django-extensions==3.2.3
django-markdownx==4.0.7

# redis
redis==5.2.1
django-redis==5.4.0

requests==2.32.3