@use '../base/variables' as v;
@use 'sass:color';

.button {
    display: inline-block;
    padding: v.$base-spacing * 1.5 v.$base-spacing * 4; // 12px 32px padding
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;

    &--primary {
        background-color: v.$primary-light-green;
        color: v.$text-light;

        &:hover {
            background-color: color.adjust(v.$primary-light-green, $lightness: -10%);
        }
    }
}