@use '../base/variables' as v;
@use 'sass:color';

.footer {
    padding: v.$base-spacing * 4 0;
    margin-top: v.$base-spacing * 8;

    &__container {
        text-align: center;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: v.$base-spacing * 7;     // 56px 
        margin-bottom: v.$base-spacing * 5; // 40px

        @media (min-width: v.$breakpoint-md) {
            gap: v.$base-spacing * 14; // 160px
        }
    }

    &__nav-link {
        color: v.$text-muted;
        font-size: 14px;
        transition: color 0.3s ease;

        &:hover {
            color: v.$text-light;
        }
    }

    &__socials {
        margin-bottom: v.$base-spacing * 3;
        display: flex;
        justify-content: center;
        gap: v.$base-spacing * 5;     // 40px
    }

    &__social-link {
        margin: 0 v.$base-spacing * 1.5; // 12px
        font-size: 20px;
        width: 24px;
        color: v.$text-muted;
        transition: color 0.3s ease;

        img {
            width: 100%;
            display: block;
        }
    }

    &__copy {
        font-size: 14px;              // Ukuran font copyright
        color: v.$text-muted;
    }
}