@use '../base/variables' as v;

.location {
    &__container {
        max-width: calc(100% - 4 * v.$base-spacing);
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: v.$base-spacing * 3;

        @media (min-width: v.$breakpoint-md) {
            max-width: 1140px;
            margin: v.$base-spacing * 2 auto; // 32px auto
            grid-template-columns: 2fr 1fr;
            gap: 0;
        }
    }

    &__map {
        border-radius: 12px;
        overflow: hidden;
        min-height: 470px;
        order: 2;

        @media (min-width: v.$breakpoint-md) {
            order: 1;
        }
    }

    &__address {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: v.$base-spacing * 2;
        order: 1;

        &-title {
            font-size: 22px;
            font-weight: 700;
        }

        &-text {
            font-size: 16px;
            line-height: 1.2;
        }

        @media (min-width: v.$breakpoint-md) {
            padding: v.$base-spacing * 3;
            order: 2;
        }
    }


}