{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero" id="hero">
    <div class="hero__image-container">
        {# Gambar Placeholder untuk Hero #}
        <img src="{% static 'imgs/placeholder-1.jpg' %}" alt="Interior Bahari Irish Pub" class="hero__image">
        <div class="hero__overlay"></div>
    </div>
    <div class="hero__content container">
        <h3 class="hero__subtitle">Welcome to</h3>
        <h1 class="hero__title">Bahari Irish Pub</h1>
        <p class="hero__text">
            A cozy, modern pub inspired by the warmth and hospitality of Ireland. Our menu features elevated Irish classics
            and a thoughtful selection of spirits, craft beers, and cocktails.
        </p>
        <a href="{% url "website:menu" %}" class="button button--primary hero__button">View Menu</a>
    </div>
</section>

<section class="events section-padding">
    <div class="events__container container">
        <h2 class="events__title">Upcoming Events</h2>
        <div class="events__grid">
            {% for event in events %}
            <div class="card">
                <img src="{% if event.photo %}{{ event.photo.url }}{% endif %}" alt="Trad Sessions" class="card__image">
                <div class="card__content">
                    <h3 class="card__title">{{ event.name }}s</h3>
                    <p class="card__text">{{ event.start_date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="event-gallery section-padding">
    <div class="event-gallery__container">
        <h3 class="event-gallery__title">Post-Event Gallery</h3>
        <div class="event-gallery__content hide-scrollbar">
        {% for _ in '1234567891' %}
            <div class="event-gallery__card">
                <img src="{% static "imgs/event-gallery-placeholder.webp" %}" alt="" class="event-gallery__img">
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="events section-padding">
    <div class="events__container container">
        <h2 class="events__title">Live Music</h2>
        <div class="events__grid">
            {% for live in live_musics %}
            <div class="card">
                <img src="{% if live.photo %}{{ live.photo.url }}{% endif %}" alt="Trad Sessions" class="card__image">
                <div class="card__content">
                    <h3 class="card__title">{{ live.name }}</h3>
                    <p class="card__text">{{ live.schedule }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="passage section-padding" id="about-us">
    <div class="passage__container">
        <h2 class="passage__title">What We Are</h2>
        <p class="passage__content">
            Bahari is a modern interpretation of a traditional Irish pub. Our name means "ocean" in Irish, and we aim to bring the spirit of the sea to our landlocked location. Our space is designed with relaxed elegance, and our menu features fresh takes on classic Irish and British cuisine.
        </p>
        <p class="passage__content">
            Bahari was founded in 2023 by a group of friends who wanted to create a place where people could gather and enjoy good food and drinks. We opened our first location in the heart of downtown, and it quickly became a popular spot for locals and visitors alike. Over the years, we've expanded to other cities, but our commitment to quality and community has remained the same.
        </p>
    </div>
</section>
<section class="team">
    <div class="team__container">
        <h3 class="team__title">Our Team</h3>
        <div class="team__content">
            <div class="team__card">
                <img src="{% static "imgs/male-placeholder.svg" %}" alt="" class="team__img">
                <div class="team__identity">
                    <h5 class="team__name">Radit Marchel</h5>
                    <p class="team__role">Executive Chief</p>
                </div>
            </div>
            <div class="team__card">
                <img src="{% static "imgs/male-placeholder.svg" %}" alt="" class="team__img">
                <div class="team__identity">
                    <h5 class="team__name">Matheus Marchel</h5>
                    <p class="team__role">Executive Chief</p>
                </div>
            </div>
            <div class="team__card">
                <img src="{% static "imgs/male-placeholder.svg" %}" alt="" class="team__img">
                <div class="team__identity">
                    <h5 class="team__name">Joni Prasetyo</h5>
                    <p class="team__role">Executive Chief</p>
                </div>
            </div>
            <div class="team__card">
                <img src="{% static "imgs/female-placeholder.svg" %}" alt="" class="team__img">
                <div class="team__identity">
                    <h5 class="team__name">Desi Tampubolon</h5>
                    <p class="team__role">Executive Manager</p>
                </div>
            </div>
            <div class="team__card">
                <img src="{% static "imgs/male-placeholder.svg" %}" alt="" class="team__img">
                <div class="team__identity">
                    <h5 class="team__name">Johannes Regar</h5>
                    <p class="team__role">Creative Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="location section-padding" id="location">
    <div class="location__container">
        <h2 class="location__title">Our Location</h2>
        <div class="location__content">
            <div class="location__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6011.088715915636!2d112.62587495250054!3d-7.981234354096248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd62905176d81eb%3A0xce6907292bcadb0c!2sBahari%20Irish%20Pub!5e0!3m2!1sen!2sid!4v1745085522501!5m2!1sen!2sid" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="location__address">
                <h2 class="location__address-title">Our Location</h2>
                <p class="location__address-text">Bahari Irish Pub is located at:</p>
                <p class="location__address-text"><strong>Kawi Street No.8A, Kauman, Klojen, Malang City, East Java 65119</strong></p>
                <p class="location__address-text">We are open every day from <strong>4 PM</strong> to <strong>2 AM</strong>.</p>
                <br>
                <p class="location__address-text">bahariirishpub@gmail.com</p>
                <p class="location__address-text">Telp. +62 811 11223344</p>
            </div>
        </div>
    </div>
</section>

<div class="photo-popup photo-popup--hidden">
    <div class="photo-popup__container">
        <img src="" alt="" class="photo-popup__img">
        <button class="photo-popup__close-btn">
            <img src="{% static 'imgs/icon-close.svg' %}" alt="Close" class="photo-popup__close-icon">
        </button>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const photoPopup = document.querySelector('.photo-popup');
    const photoPopupImg = document.querySelector('.photo-popup__img');
    const photoPopupCloseBtn = document.querySelector('.photo-popup__close-btn');
    const body = document.querySelector('body');

    document.querySelectorAll('.event-gallery__img').forEach(img => {
        img.addEventListener('click', () => {
            photoPopup.classList.remove('photo-popup--hidden');
            photoPopupImg.src = img.src;

            body.classList.toggle('no-scroll');
        });
    });

    photoPopupCloseBtn.addEventListener('click', () => {
        photoPopup.classList.add('photo-popup--hidden');
        body.classList.remove('no-scroll');
    });

    window.addEventListener('click', (event) => {
        if (event.target === photoPopup) {
            photoPopup.classList.add('photo-popup--hidden');
            body.classList.remove('no-scroll');
        }
    });
</script>
{% endblock %}